* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black; 
}

header {
    padding: 40px;
    border-style: groove;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: #e4a4fa;
    font-size: 40px; 
}

header nav ul li {
    margin: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #00ffff;
    border-style: groove;
    border-color: #e4a4fa;
    float: right;
    list-style: none;
}

.video-banner {
    max-width: 100%;
    max-height: 50%;
}

main {
    display: flex;
}

main section {
    display: flex;
    margin: 10px;
}

main section h3 {
    padding: 40px;
    text-align: end;
    width: 20px;
    color: #e4a4fa;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

main section p {
    padding: 40px;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: #00ffff;
    float: right;
}










/* .about-me h3, .creative-projects h3 {
    justify-content: flex-end;
    padding: 10px;
    margin: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: #00ffff;
    text-align: left;
}

footer h3 {
    justify-content: flex-end;
    padding: 10px;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: #00ffff;
    text-align: left;
    
} */

/* footer ul li {
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: aqua;
    text-align: center;
    float: right;
    list-style: none;
} */